.signin {
  position: relative;

  .signin__tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .signin__tab_item {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 0;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 2px solid rgb(229, 229, 229);

     
    }
    .isActive {
      border-bottom: 2px solid rgb(231, 65, 42);
    }
  }

  &__tab-content {
    padding: 10px 0;
  }

  &__error {
    color: #f25033;
    font-size: 12px;
    height: 18px;
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__success-message {
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
  }

}